*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
}

body{
    background: #0b1826;
  
    position: relative;
    height: 100vh;
}
.source-code{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.title, .name-company{
    color:#fff;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right,
    #462523 0%,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
    );
    margin-bottom: 20px;
    text-align: center;
}

.box-intership{
    display: flex;
    flex-wrap: wrap;
    --column:2;
    --spacing:15px;
    margin-left: calc(calc(var(--spacing) * (-1)));
    align-items: center;
}
.box{
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    width: calc(calc(100% / var(--column)) - var(--spacing));
}
.image-box{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #aaa;
}
.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name{
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    color:#0b1826;
}
.name:hover{
    text-decoration: underline;
}